body{
	padding: 0;
	margin: 0;
}

.cont{
	background-color: #1B2733;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center{
	animation: spinme 4s infinite;
	animation-timing-function: linear;
}

.item{
	width: 15px;
	height: 15px;
	background-color: #03B5AA;
	margin: 0 15px;
	display: inline-block;
}

.item:nth-child(2n-1){
	animation: boop 4s infinite;
}

.item:nth-child(2n){
	animation: beep 4s infinite;
}

@keyframes boop{
	0%{
		transform: translate(0px);
		border-radius: 50%;
		background-color: #03B5AA;
	}
	50%{
		transform: translate(50px);
		border-radius: 0%;
		background-color: #DBFE87;
	}
	100%{
		transform: translate(0px);
		border-radius: 50%;
		background-color: #03B5AA;
	}
}

@keyframes beep{
	0%{
		transform: translate(0px);
		border-radius: 50%;
		background-color: #DBFE87;
	}
	50%{
		transform: translate(-50px);
		border-radius: 0%;
		background-color: #03B5AA;
	}
	100%{
		transform: translate(0px);
		border-radius: 50%;
		background-color: #DBFE87;
	}
}

@keyframes spinme{
	100%{
		transform: rotate(360deg); 
	}
}

