body{
	margin: 0;
	padding: 0;
}

.cont{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2e363f;
	animation: colours 3s infinite;
}

@keyframes colours{
	0%   { background-color: #2e363f; }
	33%  { background-color: #725782; }
	66%  { background-color: #925255; }
	100% { background-color: #2e363f; }

}	

.cont:hover{
	background-color: #8f3863;
}

.circle{
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
	border: 10px solid #242a31;
	transition: 3s;
}

.circle:hover{
	height: 50vh;
	width: 50vh;
	border: 50px solid #242a31;
	border-radius: 0;
	cursor: pointer;
	transform: rotate(45deg);
}
