body{
	margin: 0;
	padding: 0;
	background-color: #0a090e;
}

.top-nav{
	display: flex;
	justify-content: space-between;
	box-shadow: 0 1px 1px rgba(0,0,0,0.22), 
	0 2px 2px rgba(0,0,0,0.22), 
	0 4px 4px rgba(0,0,0,0.22), 
	0 8px 8px rgba(0,0,0,0.22), 
	0 16px 16px rgba(0,0,0,0.22), 
	0 32px 32px rgba(0,0,0,0.22);
}

.header-img{
	display: inline-block;
	padding: 20px;
	margin: auto;
}

.img-logo{
	height: 70px;
}

.above-fold{
	min-height: calc(100vh - 113px);
}

.background{
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 113px);
	position: relative;
	overflow: hidden;
}

.background:before{content: "";
	position: absolute;
	width: 1000%;
	height: 1000%;
	z-index: -1;
	background-image: url("../img/logo.png");
	background-position: center;
	animation: animatedBackground 12s linear infinite alternate;
}

@keyframes animatedBackground {
	0% {
		background-size: 15%;
		background-position: 45% 50%;
	}
	30%{
		background-size: 15%;
		background-position: 45% 50%;		
		transform: rotate(20deg);
	}
	50%{
		background-position: 55% 50%;
		background-size: 1%;
		transform: rotate(360deg);
	}
	100% {
		background-position: 55% 50%;
		background-size: 1%;
		
		transform: rotate(270deg);
	}


  }

.above-fold-text{
	margin: 0;
	color: #efedf4;
	font-family: sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 5pt;
	background-color: #0a090e;
	padding: 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.22), 
              0 2px 2px rgba(0,0,0,0.22), 
              0 4px 4px rgba(0,0,0,0.22), 
              0 8px 8px rgba(0,0,0,0.22), 
              0 16px 16px rgba(0,0,0,0.22), 
              0 32px 32px rgba(0,0,0,0.22);
}

.header-text{
	margin: 0;
	font-family: sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 5pt;
	padding: 20px;
}

.infineto{
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #efedf4;
	color: #0a090e;
}

.footer-cont{
	padding: 30px;
}

.footer{
	max-width: 1250px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo{
	color: #efedf4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	letter-spacing: 2pt;
	text-transform: uppercase;
}

.footer-logo > img{
	height: 30px;
}

 a {
	color: #efedf4;
	font-family: sans-serif;
	font-size: 8pt;
	letter-spacing: 2pt;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px dotted  #f32088;
	transition: 0.33s;
}

	a:hover{
		color: #f32088;
		border-bottom: 3px dotted  #efedf4;
		padding-bottom: 7px;
		letter-spacing: 4pt;
	}


	@media (max-width: 1000px){
		
		.above-fold-text{
			margin: 0 30px;
			font-size: 10pt;
			letter-spacing: 3pt;
			text-align: center;
		}
	}