body{
	margin: 0;
	padding: 0;
}

.cont{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #2e363f;
	animation: colours 3s infinite;
}

.cont:hover{
	background-color: #8f3863;
}

.title{
	position: absolute;
	top: 20px;
	left: 25%;
	width: 50%;
	text-align: center;
	color: #fff;
	font-family: sans-serif;
	font-size: .5em;
}

.foot{
	position: absolute;
	bottom: 20px;
	left: 25%;
	width: 50%;
	text-align: center;
	color: #fff;
	font-family: sans-serif;
}

.foot>a{
	text-decoration: none;
	color: #fff;
	font-size: .7em;
}

.foot>a:hover{
	text-decoration: none;
	color: #fff;
	opacity: .5;
}

.item{
	padding: 0 0;
	margin: 0 0;
	opacity: .3;
}

.circle{
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
	border: 10px solid #fff;
	transition: 2.5s;
}

.circle:hover{
	height: 50vh;
	width: 50vh;
	border: 50px solid #fff;
	border-radius: 0;
	cursor: pointer;
	transform: rotate(180deg);
}

.bryan{
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 700;
	font-size: 48pt;
	color: #fff;
	animation: bryan 1s infinite;
}

@keyframes bryan{
	0%{
		font-size: 48pt;
		letter-spacing: 5px;
	}
	50%{
		font-size: 56pt;
		letter-spacing: 7px;
	}
	100%{
		font-size: 48pt;
		letter-spacing: 5px;
	}
}


@media (max-width: 1000px) {
	.circle{
		height: 10vw;
		width: 10vw;
		border-radius: 50%;
		border: 10px solid #242a31;
		transition: 3s;
	}

	.circle:hover{
		height: 25vw;
		width: 25vw;
		border: 50px solid #242a31;
		border-radius: 0;
		cursor: pointer;
		transform: rotate(180deg);
	}
}

@keyframes colours{
	0%   { background-color: #2e363f; }
	33%  { background-color: #725782; }
	66%  { background-color: #925255; }
	100% { background-color: #2e363f; }

}	

@keyframes pulse{
	0%   { width: 5vh; height: 5vh; }
	50%  { transform: scale(1.1); }
	100% { width: 5vh; height: 5vh; }
}	


.cont-anime{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #342c40;
}

.small-circle{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin: 10px;
	background-color: #70D6FF;
	animation: bobbing 2s infinite;
}

.small-circle:nth-child(2n){
	animation: bobbing-alt 2s infinite;
}

.small-circle:nth-child(3n-1){
	background-color: #FF70A6;
}

.small-circle:nth-child(3n){
	background-color: #FFD670;
}

@keyframes bobbing{
	0%{ 
		transform: translateY(-10px); 
		width: 15px; 
		height: 15px;
	}
	
	50%{ 
		transform: translateY(10px);  
		width: 10px; 
		height: 10px;  
	}

	100%{ 
		transform: translateY(-10px); 
		width: 15px; 
		height: 15px;  
	}
}

@keyframes bobbing-alt{
	0%{ 
		transform: translateY(10px); 
		width: 10px; 
		height: 10px;  
	}

	50%{ 
		transform: translateY(-10px);
		width: 15px;
		height: 15px; 
	}

	100%{ 
		transform: translateY(10px); 
		width: 10px; 
		height: 10px; 
	}

}
